# Audio and Graphics folders
Audio/
Graphics/

# Data folder, but not Data/Scripts folder
Data/*
!Data/Scripts.rxdata
!Data/Scripts/

# Files in the main project folder
Game.ini
Game.rxproj
RGSS*.dll

# Temp files

~*
# Word files
*.docx
errorlog.txt - Raccourci.lnk

# My stuff
STRAT/*
!STRAT/Python
STRAT/Python/__pycache__
STRAT/Python/Color variants
STRAT/Python/Papillusion Blancs
STRAT/Python/*.lnk
Animations/*
Animations - GEN8/*
